@import "../../Utils/colors.scss";

.experience-component{
    .experience-row {
        font-size: small;
        margin: 0.2cm 0cm;

        i {
            font-size: 0.33cm;
            padding-left: 0.3cm;
        }
    }

    p {
        margin: 0%;
    }
}