@import "../../Utils/colors.scss";

.skills-component {
    text-align: center;
    
    .skills-languages, .skills-tools {
        h3 {
            
            color: $main-color;
        }
        p {
            font-size: 0.45cm;
        }
    }
}