@import "../../Utils/colors.scss";

.realisations-component{


    
    h3 {
        text-align: center;
        color: $main-color;
    }
    p {
        font-size: small;
    }

    ul {
        list-style-type: none;
        padding-left: 0.1cm;
        margin-top: 0.1cm;

        li {
            margin: 0cm 0.2cm 0.1cm 0cm;
            font-size: small;
        }
    }
    .real {

        .date {
            font-size: 16px;
            font-weight: bolder;
        }
        p {
            color: $main-color;
            text-align: center;
            margin-bottom: 0%;
        } 
    }

    .language {
        text-align: center;
        line-height: 1.3;
    }

    
}