.hobbies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .hobby {
        display: flex;
        flex-flow: row wrap;

        .hobby--name {
            font-weight: bold;
            font-size: 0.32cm;
            margin: 0 0 0.1cm 0.2cm;
        } 
        .hobby--desc {
            font-size: 0.3cm;
            margin: 0 0 0.1cm 0.2cm;
            font-style: oblique;
        }
    }
}