@import "../../Utils/colors.scss";

.formations-certifications-component {

    .formation-row {
        font-size: small;
        .date {
            color: $main-color;
        }
        ul {
            padding-left: 20px;
        }
    }

    h3 {
        color: $main-color;
    }
}