@import "../../Utils/colors.scss";

.formations-certifications-component {

    .formation-row {
        display: flex;
        flex-direction: column;
    }

    h3 {
        color: $main-color;
    }
}